<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Steam</title>

    <!--Bulma-->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--Handle Request-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
</head>
<body>
<div class="container">
    <nav aria-label="main navigation" class="navbar" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img alt="Steam"
                     height="28"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/200px-Steam_icon_logo.svg.png">
            </a>
        </div>
    </nav>

    <form id="form" onsubmit="onSubmitForm(event)">
        <div class="field">
            <div class="control">
                <input class="input" name="id" placeholder="ID of Game" readonly th:value="${game.id}" type="number">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" name="name" placeholder="Name of Game" th:value="${game.name}" type="text">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" name="releaseDate" placeholder="Game Release Date" th:value="${{game.releaseDate}}"
                       type="date">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <input class="input" name="price" placeholder="Price of Game" th:value="${game.price}" type="text">
            </div>
        </div>
        <button class="button is-primary is-outlined" type="submit">Save</button>
        <a class="button is-danger is-outlined" href="/">Back</a>
    </form>
</div>

<script type="text/javascript">
    function onSubmitForm(event) {
        event.preventDefault();
        var data = $("form").serializeObject();
        $.post("/api/save", data, editSuccess)
            .fail(editFail);
    }

    function editSuccess() {
        alert("SUCCESS");
        location.reload();
    }

    function editFail() {
        alert("FAIL");
    }
</script>
</body>
</html>